@charset "UTF-8";

body {
    width: 80%;
}

table {
    width: 70%;
    border-collapse: collapse;
    font-size: 13px;
}
table tr {
    height: 50px;
}
table th, table td {
    border: 1px solid #ddd;
    padding: 6px;
}
table th {
    background-color: #F2F2F2;
}
.cell_title {
    width: 100px;
    border-right: 0;
}
.cell_required{
    color: red;
    font-size: 12px;
    width: 10px;
    border-left: 0;
}